body {
  font-size: 1.5rem;
}

#header {
  display: flex;
  justify-content: space-between;
  color: #F03E1F;
}

#items {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: absolute;
  top: 0;
  bottom: 0;
  flex-grow: 1;
  padding: 2px;
  left: 0;
  right: 0;
}

.item_row {
  border-radius: 5px;
  border: 6px solid;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 5px;
  margin: 2px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: inherit;
  width: 70px;
}
