body {
  font-size: 2rem;
}

#header {
  display: flex;
  justify-content: space-between;
  color: #F03E1F;
}

.item_row {
  border-radius: 5px;
  border: 6px solid;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.item {
  display: inline-block;
  line-height: 50px;
}

button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: inherit;
  height: 50px;
  width: 50px;
}
